{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(/static/main/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Panier</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">accueil</a></li>
                <li> panier</li>
            </ul>
        </div>
    </div>
</div>
<!-- shopping-cart-area start -->
<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">Panier</h1>
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>supprimer</th>
                                    <th>image</th>
                                    <th>produit</th>
                                    <th>prix ttc</th>
                                    <th>quantité</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                <tr>
                                    <td class="product-remove">
                                        <a href="{% url "cart:cart_remove" item.product.id  %}"><i class="fas fa-times fa-2x"></i></a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.image_cart.url }}" alt="product image"></a>
                                    </td>
                                    <td class="product-name">
                                        <a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a>
                                    </td>
                                    <td class="product-price-cart">
                                        <span class="amount">{{ item.price }} €</span>
                                    </td>
                                    <td class="product-quantity block-form-update" data-id-product="{{ item.product.id }}">
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.update }}
                                    </td>
                                    <td class="product-subtotal">{{ item.total_price }} €</td>
                                </tr>
                                {% empty %}
                                <div class="container mb-5">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h3>Votre panier est vide.</h3>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <a class="button" href="{% url 'shop:shop' %}">Continuer mes achats</a>
                                </div>
                                <div class="coupon2">
                                    <input class="button" name="updated_cart" id="btnUpdateCart" value="Mettre à jour le panier" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Total de la commande</h2>
                                <ul>
                                    <li>Sous total<span>{{ cart.get_total_price.0 }} €</span></li>
                                    <li>Frais de port<span>{{ cart.get_shipping_costs }} €</span></li>
                                    <li>Poids total<span>{{ cart.get_total_cart_weight }} Kg</span></li>
                                    <li>Total<span>{{ cart.get_total_price.1 }} €</span></li>
                                </ul>
                                {% if cart|length > 0 %}
                                <a href="{% url 'order:create_order' %}" class="valid-cart">Valider la commande</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'cart/js/updatecart.js' %}"></script>
{% endblock script %}