{% extends 'main/base.html' %}
{% block content %}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(/static/main/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Compte vérifié</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">accueil</a></li>
                <li> vérification de compte </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid box-success-order">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            {% if is_validate %}
            <h3>Votre compte à bien été vérifié. Vous pouvez désormais vous connecter et effectuer des achats.</h3>
            {% else %}
            <h3>Une erreur c'est produite, votre compte n'a pas être vérifié. Merci de re cliquer sur le lien dans l'email que vous avez reçus ou bien nous contacter.</h3>
            {% endif %}
        </div>
        <div class="col-12 ">
            <a href="{% url 'useraccount:login' %}" class="float-right mr-5 cart-btn btn-hover">Connexion</a>
        </div>
    </div>
</div>

{% endblock content %}
