{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(/static/main/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Mot de passe oublié</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">accueil</a></li>
                <li> mot de passe oublié </li>
            </ul>
        </div>
    </div>
</div>

<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <h4>Afin de réinitialiser votre mot de passe, merci de renseigner votre adresse email ainsi que votre numéro de téléphone utilisé lors de votre inscription.</h4>
                            <p class="mb-5 mt-2">Un email avec un lien vous serras envoyé.</p>
                            <form action="." method="post">
                                {% csrf_token %}
                                {% if error %}
                                <h3 class="text-error">{{ error }}</h3>
                                {% endif %}
                                {{ form.email }}
                                {{ form.phone_number }}
                                <div class="button-box">
                                    <button type="submit" class="furits-slider-btn btn-hover animated floatright">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}