{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(/static/main/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Nouveau mot de passe</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">accueil</a></li>
                <li> nouveau mot de passe </li>
            </ul>
        </div>
    </div>
</div>
<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <h4 class="mb-5">Un email viens d'être envoyer à l'adresse renseigné précédement.<br>Merci de renseigner le code confidentiel présent dans le mail.</h4>
                            <form action="." method="post">
                                {% csrf_token %}
                                {% if error %}
                                <h3 class="text-error">{{ error }}</h3>
                                {% endif %}
                                {{ form.code }}
                                {{ form.password }}
                                {{ form.confirm_password }}
                                <div class="button-box">
                                    <button type="submit" class="furits-slider-btn btn-hover animated floatright">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'useraccount/js/resetpassword.js' %}"></script>
{% endblock script %}