{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(/static/main/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Réinitialisation de mot de passe réussit</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">accueil</a></li>
                <li> Réinitialisation de mot de passe réussit </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid box-success-order">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h3>La réinitialisation de votre mot de passe c'est déroulée avec succès !</h3>
        </div>
        <div class="col-12 ">
            <a href="{% url 'useraccount:login' %}" class="float-right mr-5 cart-btn btn-hover">Se connecter</a>
        </div>
    </div>
</div>
{% endblock content %}