{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(/static/main/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Valider la commande</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">accueil</a></li>
                <li> Valider la commande </li>
            </ul>
        </div>
    </div>
</div>
-    <div class="checkout-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <form action="#">
                        <div class="checkbox-form">
                            <h3>Informations de livraison / facturation</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Nom <span class="required">*</span></label>										
                                        <input id="formLastName" type="text"  value="{{ user.last_name }}" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Prénom <span class="required">*</span></label>										
                                        <input id="formFirstName" type="text"  value="{{ user.first_name }}" required/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Adresse <span class="required">*</span></label>
                                        <input id="formAdress" type="text" placeholder="Adresse de livraison" value="{{ user.adress }}" required/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Ville <span class="required">*</span></label>
                                        <input id="formCity" type="text" value="{{ user.city }}" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Département <span class="required">*</span></label>										
                                        <input id="formDep" type="text" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Code Postal <span class="required">*</span></label>										
                                        <input id="formPostalCode"type="number" value="{{ user.postal_code }}" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Adresse Email <span class="required">*</span></label>										
                                        <input id="formEmail"type="email" value="{{ user.email }}" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Numéro de téléphone  <span class="required">*</span></label>										
                                        <input id="formPhoneNumber"type="number" value="0{{ user.phone_number }}" class="form-control" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="different-address">
                                <div class="ship-different-title d-flex">
                                    <h3>
                                        <label>Livrer à une adresse différente ?</label>
                                    </h3>
                                    <div class="control-group">
                                        <label class="control control-checkbox">
                                            <i class="fas fa-arrow-left"></i>
                                            <input id="ship-box" type="checkbox"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                    </div>
                                </div>
                                <div id="ship-box-info" class="row">
                                   <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Nom <span class="required">*</span></label>										
                                            <input type="text" id="AnotherFormLN"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Prénom <span class="required">*</span></label>										
                                            <input type="text" id="AnotherFormFN"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>Adresse <span class="required">*</span></label>
                                            <input type="text" placeholder="Adresse de livraison" id="AnotherFormAd"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>Ville <span class="required">*</span></label>
                                            <input type="text" id="AnotherFormCi"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Département <span class="required">*</span></label>										
                                            <input type="text" id="AnotherFormDe"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Code Postal <span class="required">*</span></label>										
                                            <input type="number" class="form-control" id="AnotherFormCP"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Adresse Email <span class="required">*</span></label>										
                                            <input type="email" id="AnotherFormEm"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Numéro de téléphone  <span class="required">*</span></label>										
                                            <input type="number" class="form-control" id="AnotherFormPN"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-notes">
                                    <div class="checkout-form-list mrg-nn">
                                        <label>Note / commentaire supplémentaire</label>
                                        <textarea id="checkout-mess" cols="30" rows="10" placeholder="Des notes concernant votre commande, par exemple des notes spéciales pour la livraison." ></textarea>
                                    </div>									
                                </div>
                            </div>													
                        </div>
                    </form>
                </div>	
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="your-order">
                        <h3>Votre commande</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name">Article</th>
                                        <th class="product-total">Total</th>
                                    </tr>							
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            {{ item.product }} <strong class="product-quantity"> × {{ item.quantity }}</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount">{{ item.price }} €</span>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr class="cart_item">
                                        <td class="product-name" id="noneProductInCart">
                                            Aucun produit dans votre panier pour effectuer une commande !
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th> </th>
                                        <td><span class="amount"> </span></td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Sous total</th>
                                        <td><span class="amount">{{ cart.get_total_price }} €</span></td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Frais de port</th>
                                        <td><span class="amount">0 €</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total de la commande</th>
                                        <td><strong><span class="amount">{{ cart.get_total_price }} €</span></strong>
                                        </td>
                                    </tr>								
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <div class="panel-group" id="faq">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title"><a class="collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#faq" href="#payment-3">Paiement par carte bancaire</a></h5>
                                        </div>
                                        <div id="payment-3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Paiement sécuriser.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-button-payment">
                                    <button id="validCheckout" type="button">Valider la commande</button>
                                    <button type="button" class="stripe-button">Payer</button>
                                </div>								
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://checkout.stripe.com/checkout.js" data-key="dfgtttgggtt" data-description='Pay By Credit Cart' data-amount= "{{ cart.get_total_price }}" data-locale="auto">
    </script>


{% endblock content %}

{% block script %}
<script src="{% static 'order/js/createorder.js' %}"></script>
{% endblock script %}