{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(/static/main/img/bg/breadcrumb.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Commande confirmée</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">accueil</a></li>
                <li> Confirmation de commande </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid box-success-order">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h3>Votre commande portant la référence {{ order.reference }}, ayant un montant de {{ order.total_price }}€, à bien été validé.</h3>
            <h4>Un email avec le récapitulatif ainsi qu'un reçu de commande, vous a été envoyé à {{ user.email }}.</h4>
        </div>
        <div class="col-12 ">
            <a href="{% url 'main:index' %}" class="float-right mr-5 cart-btn btn-hover">Continuer</a>
        </div>
    </div>
</div>
{% endblock content %}