{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-area pt-205 breadcrumb-padding pb-210" style="background-image: url(/static/main/img/bg/breadcrumb.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>boutique</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">accueil</a></li>
                <li>boutique</li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-page-wrapper shop-page-padding ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar mr-50">
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Chercher un produit</h3>
                        <div class="sidebar-search">
                            <form action="#">
                                <input placeholder="Trouver un produit..." type="text">
                                <button><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-categories">
                            <ul>
                                {% for categ in categories %}
                                <li><a href="#">{{ categ }} <span>{{ categ.products.all|length }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop-product-wrapper res-xl">
                    <div class="shop-bar-area">
                        <div class="shop-bar pb-60">
                            <div class="shop-found-selector">
                                <div class="shop-found">
                                    <p><span>23</span> Product Found of <span>50</span></p>
                                </div>
                                <div class="shop-selector">
                                    <label>Trier par : </label>
                                    <select name="select">
                                        <option value="">Default</option>
                                        <option value="">A à Z</option>
                                        <option value=""> Z à A</option>
                                        <option value="">Prix ++</option>
                                        <option value="">Prix --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="shop-filter-tab">
                                <div class="shop-tab nav" role=tablist>
                                    <a class="active" href="#grid-sidebar3" data-toggle="tab" role="tab" aria-selected="false">
                                        <i class="ti-layout-grid4-alt"></i>
                                    </a>
                                    <a href="#grid-sidebar4" data-toggle="tab" role="tab" aria-selected="true">
                                        <i class="ti-menu"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="shop-product-content tab-content">
                            <div id="grid-sidebar3" class="tab-pane fade active show">
                                <div class="row">
                                    {% for product in object_list %}
                                    <div class="col-md-6 col-xl-4">
                                        <div class="product-wrapper mb-30">
                                            <div class="product-img">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="{{ product.image_shop.url }}" alt="">
                                                </a>
                                                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="product-action">
                                                        <div class="d-none">
                                                            {{ cart_product_form.quantity }}
                                                        </div>
                                                        <button type="submit" class="animate-top" title="Ajouter au panier">
                                                            <i class="pe-7s-cart"></i>
                                                        </button>
                                                        <button type="button" class="animate-right" title="Prévisualiser" data-toggle="modal" data-target="#modalProduct{{ product.id }}">
                                                            <i class="pe-7s-look"></i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="product-content">
                                                <h4><a href="{{ product.get_absolute_url }}"> {{ product.name }} </a></h4>
                                                <span>{{ product.price }}€</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <h3 class="text-info">Aucun produits en base de données !</h3>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="grid-sidebar4" class="tab-pane fade">
                                <div class="row">
                                    {% for product in object_list %}
                                    <div class="col-lg-12 col-xl-6">
                                        <div class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60">
                                            <div class="product-img list-img-width">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="{{ product.image_shop.url }}" alt="">
                                                </a>
                                                <div class="product-action-list-style">
                                                    <button class="animate-right" type="submit" title="Prévisualisation" data-toggle="modal" data-target="#modalProduct{{ product.id }}">
                                                        <i class="pe-7s-look"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="product-content-list">
                                                <div class="product-list-info">
                                                    <h4><a href="{{ product.get_absolute_url }}"> {{ product.name }} </a></h4>
                                                    <span>{{ product.price }}€</span>
                                                    <p>{{ product.description }}</p>
                                                </div>
                                                <div class="product-list-cart-wishlist">
                                                    <div class="product-list-cart">
                                                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                                            {% csrf_token %}
                                                            {{ cart_product_form.quantity }}
                                                            <button class="btn-hover list-btn-style btn-add-cart-1" type="submit">Ajouter au panier</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <h3 class="text-info">Aucun produits en base de données !</h3>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-style mt-50 text-center">
                    <ul>
                        <li><a href="#"><i class="ti-angle-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">19</a></li>
                        <li class="active"><a href="#"><i class="ti-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% for product in object_list %}
<!-- modal -->
<div class="modal fade" id="modalProduct{{ product.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="pe-7s-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog modal-quickview-width" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="qwick-view-left">
                    <div class="quick-view-learg-img">
                        <div class="quick-view-tab-content tab-content">
                            <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                <img src="{% static 'main/img/quick-view/l1.jpg' %}" alt="">
                            </div>
                            <div class="tab-pane fade" id="modal2" role="tabpanel">
                                <img src="{% static 'main/img/quick-view/l2.jpg' %}" alt="">
                            </div>
                            <div class="tab-pane fade" id="modal3" role="tabpanel">
                                <img src="{% static 'main/img/quick-view/l3.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="quick-view-list nav" role="tablist">
                        <a class="active" href="#modal1" data-toggle="tab" role="tab">
                            <img src="{% static 'main/img/quick-view/s1.jpg' %}" alt="">
                        </a>
                        <a href="#modal2" data-toggle="tab" role="tab">
                            <img src="{% static 'main/img/quick-view/s2.jpg' %}" alt="">
                        </a>
                        <a href="#modal3" data-toggle="tab" role="tab">
                            <img src="{% static 'main/img/quick-view/s3.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="qwick-view-right">
                    <div class="qwick-view-content">
                        <h3>{{ product.name }}</h3>
                        <div class="price">
                            <span class="new">{{ product.price }}€</span>
                        </div>
                        <p>{{ product.description }}</p>
                        {% comment %} <div class="quick-view-select">
                            <div class="select-option-part">
                                <label>Size*</label>
                                <select class="select">
                                    <option value="">- Please Select -</option>
                                    <option value="">900</option>
                                    <option value="">700</option>
                                </select>
                            </div>
                            <div class="select-option-part">
                                <label>Color*</label>
                                <select class="select">
                                    <option value="">- Please Select -</option>
                                    <option value="">orange</option>
                                    <option value="">pink</option>
                                    <option value="">yellow</option>
                                </select>
                            </div>
                        </div> {% endcomment %}
                        <div class="quickview-plus-minus">
                            <div class="quickview-btn-cart">
                                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {% csrf_token %}
                                    {{ cart_product_form.quantity }}
                                    <button class="btn-hover list-btn-style btn-add-cart-1" type="submit">Ajouter au panier</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}

{% block script %}
<script src="{% static 'shop/js/hiddenform.js' %}"></script>
{% endblock script %}